fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pandas
openpyxl
xlrd
google-api-python-client
google-auth
xlrd==2.0.1
pip install xlrd==2.0.1