fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
python-jose[cryptography]
python-multipart
pandas
openpyxl
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
xlrd==2.0.1
psycopg2-binary
google-api-python-client
google-auth
reportlab
num2words
supabase
httpx